<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
</head>
<body>
    <h1>Bienvenido, {{ username }}</h1>
    <h2>Salas de Chat:</h2>
    <ul>
        {% for room in rooms %}
            <li><a href="{{ url_for('on_join', username=username, room=room) }}">{{ room }}</a></li>
        {% endfor %}
    </ul>

    <h2>Enviar mensaje</h2>
    <form action="{{ url_for('handle_message', username=username) }}" method="POST">
        <input type="hidden" name="room" value="General">
        <textarea name="message" required></textarea>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
